@import "tailwindcss";
@import "tw-animate-css";

@layer base {
  @font-face {
    font-family: "sofia-pro-regular";
    src: url("/fonts/Sofia-Pro-Regular-Az.woff") format("woff");
  }

  @font-face {
    font-family: "sofia-pro-semi-bold";
    src: url("/fonts/Sofia-Pro-Semi-Bold-Az.woff") format("woff");
  }
}

@theme {
  --color-primary-bg: #FFFDF2;
  --color-primary-text: #404040;
  --color-primary-green: #358b6c;
  --color-primary-green-dark: #3d7b3b;
  --color-black-41: #1c1c1c69;

  --font-jost: "Jost", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --font-libre-caslon-display: "Libre Caslon Display", sans-serif;
  --font-sofia-pro-regular: "sofia-pro-regular", sans-serif;
  --font-sofia-pro-semi-bold: "sofia-pro-semi-bold", sans-serif;
  --font-glory: "Glory", sans-serif;
  --font-assistant: "Assistant", sans-serif;
  --font-lato: "Lato", sans-serif;
}

html,
body {
  overflow-x: hidden;
}
.lg\:mt-\[-40px\] {
    @media (width >= 64rem) {
      margin-top: -275px !important;
    }
  }

  @media (width >= 80rem) {
    .xl\:text-\[80px\] {
        font-size: 80px;
        margin-top: 0px;
    }}

    @media (width >= 80rem) {
    .xl\:h-\[900px\] {
        height: 900px;
        margin-top: -165px;
    }
}
@media (width >= 48rem) {
    .md\:pl-8 {
        padding-left: calc(var(--spacing) * 0);
        margin-top: -100px;
    }
}
@media (width >= 80rem) {
    .xl\:py-24 {
        padding-block: calc(var(--spacing) * 24);
        margin-top: -90px;
    }
}
@media (width >= 64rem) {
    .lg\:gap-0 {
        gap: calc(var(--spacing) * 0);
        margin-top: -50px;
    }
}
@media (width >= 64rem) {
    .lg\:mt-\[6\%\] {
        margin-top: 0%;
    }
}
@media (width >= 48rem) {
    .md\:w-1\/1 {
        width: 65%;
    }
}
@media (width >= 64rem) {
    .lg\:w-64 {
        width: calc(var(--spacing) * 100);
    }
}
@media (width >= 48rem) {
    .md\:w-3\/5 {
        width: 60%;
        margin: 30px;
    }
}
@media (width >= 64rem) {
    .lg\:h-\[100px\] {
        height: 720px;
        width: 982px;
    }
}
@media (width >= 48rem) {
    .md\:py-16 {
        padding-block: calc(var(--spacing) * 5);
    }
}
.px-6 {
    padding-inline: calc(var(--spacing) * 22);
}
@media (width >= 48rem) {
    .md\:left-16 {
        left: calc(var(--spacing) *25);
    }
}
@media (width >= 48rem) {
    .md\:py-12 {
        padding: calc(var(--spacing) * 25);
    }
}
@media (width >= 48rem) {
    .md\:-mt-20 {
        margin-top: calc(var(--spacing) * -32);
    }
}
@media (width >= 80rem) {
    .xl\:pl-20 {
        padding-left: calc(var(--spacing) * 22);
        padding-top: calc(var(--spacing) * 20);
    }
}
@media (width >= 48rem) {
    .md\:h-64 {
        height: calc(var(--spacing) * 75);
        width: calc(var(--spacing) * 82);
    }
}
.mt-4 {
    margin-top: calc(var(--spacing) * 0);
}