@import "tailwindcss";
@import "tw-animate-css";

@layer base {
  @font-face {
    font-family: "sofia-pro-regular";
    src: url("/fonts/Sofia-Pro-Regular-Az.woff") format("woff");
  }

  @font-face {
    font-family: "sofia-pro-semi-bold";
    src: url("/fonts/Sofia-Pro-Semi-Bold-Az.woff") format("woff");
  }
}

@theme {
  --color-primary-bg: #FFFDF2;
  --color-primary-text: #404040;
  --color-primary-green: #358b6c;
  --color-primary-green-dark: #3d7b3b;
  --color-black-41: #1c1c1c69;

  --font-jost: "Jost", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --font-libre-caslon-display: "Libre Caslon Display", sans-serif;
  --font-sofia-pro-regular: "sofia-pro-regular", sans-serif;
  --font-sofia-pro-semi-bold: "sofia-pro-semi-bold", sans-serif;
  --font-glory: "Glory", sans-serif;
  --font-assistant: "Assistant", sans-serif;
  --font-lato: "Lato", sans-serif;
}

html,
body {
  overflow-x: hidden;
}
.lg\:mt-\[-40px\] {
    @media (width >= 64rem) {
      margin-top: -275px !important;
    }
  }

  @media (width >= 80rem) {
    .xl\:text-\[80px\] {
        font-size: 80px;
        margin-top: 0px;
    }}

    @media (width >= 80rem) {
    .xl\:h-\[900px\] {
        height: 900px;
        margin-top: -165px;
    }
}
@media (width >= 48rem) {
    .md\:pl-8 {
        padding-left: calc(var(--spacing) * 0);
        margin-top: -70pxpx;
    }
}
@media (width >= 80rem) {
    .xl\:py-24 {
        padding-block: calc(var(--spacing) * 24);
    }
}
@media (width >= 64rem) {
    .lg\:gap-0 {
        gap: calc(var(--spacing) * 0);
        margin-top: -50px;
    }
}
@media (width >= 80rem) {
    .xl\:px-10 {
        padding-inline: calc(var(--spacing) * 10);
        margin: 50px;
    }
}